$white: #fff;
$black: #000;
$light_border: #d1d5db;
$light_text: #000;
$border: #dae4ff;
$gr5: #16a3fe;
$gr6: #41faa4;
$explore: #2962ff;
$span: red;
$signin_bg: #11279d;
$signin_inner_bg: #1808b4;

/* MEDIA SCREENS 
@media screen and (min-width: 1200px) {
  
 }
    @media screen and (min-width: 992px) {

    }
    
    @media screen and (min-width: 768px) {

    }
    @media screen and (min-width: 576px) {

    }

      @media screen and (min-width: 400px) {

      }
*/
