$white: #fff;
$black: #000;
$light_border: #d1d5db;

/* MEDIA SCREENS 
@media screen and (min-width: 1200px) {
  
 }
    @media screen and (min-width: 992px) {

    }
    
    @media screen and (min-width: 768px) {

    }
    @media screen and (min-width: 576px) {

    }

      @media screen and (min-width: 400px) {

      }
*/
